.link {
  padding: 20px;
  font-size: 25px;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3ms;
}
.active {
  font-size: 30px;
  background-color: rgb(51, 91, 91);
  transition: all 0.5ms;
}
.navi {
  display: flex;
  background-color: currentcolor;
  width: 100vw;
  padding: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
