.item {
  font-size: x-large;
  width: 350px;
  height: 80px;
  border: 2px solid black;
  border-radius: 16px;
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.iteminfo {
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 8px;
  border: 2px solid rgb(73, 71, 71);
  background-color: darkgrey;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(50%, -50%);
}
